[submodule "projects/getting-started"]
	path = projects/getting-started
	url = https://github.com/glenfletcher-gamedev/getting-started.git
[submodule "libraries/SFML"]
	path = libraries/SFML
	url = https://github.com/glenfletcher-gamedev/sfml.git
[submodule "libraries/AGL"]
	path = libraries/AGL
	url = https://github.com/glenfletcher-gamedev/abstract-game-library.git
[submodule "projects/pong"]
	path = projects/pong
	url = https://github.com/glenfletcher-gamedev/pong.git
